@import "src/app/scss/mixins";
.form-content {
  position: relative;
  .full-name{
    display: flex;
    justify-content: space-between;

    > * {
      width: calc(50% - 5px);
    }
  }
  .form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    #github-svg{
      font-size: 30px;
    }
    .label{
        font-size: 18px;
        font-weight: bold;
    }
  }
}
.loading-form{
  @include disabled-content;
  opacity: 0.7;
}
